
# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/react


# create by https://github.com/iamcco/coc-gitignore (Fri Jun 12 2020 01:41:59 GMT+0300 (Eastern European Summer Time))
# ReactNative.gitignore:
# React Native Stack Base

.expo
__generated__
